table, th, td {
    border: 1pxsolidblueviolet;
    
      }
    
    table, th,td {
    color: #000000;
      }
    
    tabletheadtrtd {
    color:olivedrab;
      }
     
    body{
    background-color: burlywood;
    }
     
    #headingID
    {
    color:#0000FF;
    
    
    }
     
    * {
    box-sizing: border-box;
    }